In [ ]:
#Q1-Get your name and age as input and print it in the form like
#Your name is Hulisi. Your age is 43
name=input('What is your name? ')
age=input('What is your age? ')
print()

What is your name? Hulisi
What is your age? 43
Your name is Hulisi. Your age is 43

In [1]:
#Q2-Write a if statement for a given two number is equal or not
a=43
b=54

if a == b:
    print("The numbers are equal.")
else:
    print("The numbers are not equal.")

The numbers are not equal.

In [2]:
#Q3-Write a if statement for first number is greater (a), equal or less than second number.(b)
a=43
b=54
if a > b:
    print("The first number is greater than the second number.")
elif a == b:
    print("The numbers are equal.")
else:
    print("The first number is less than the second number.")

The first number is less than the second number.

In [6]:
#Q4- Using for loop, print 1,2,3,4,5
for k in range(1, 6):
    print(k)

1
2
3
4
5

In [7]:
#Q5-Using while loop, print 5,4,3,2,1
n = 5
while n > 0:
    print(n)
    n -= 1

5
4
3
2
1

In [8]:
#Q6- Using for loop, print 10,6,4,2,0
#Hint Print if number is not equal to 8.
for num in [10, 8, 6, 4, 2, 0]:
    if num != 8:
        print(num)

10
6
4
2
0

In [11]:
#Q7-Write a method to calculate age for a given date of birth year.
#Use this method on orer to calculate age of person if date of birth is 1944
# if age is the name of function, print(age(1944))
def age(birth_year):
    current_year = 2025
    return current_year - birth_year
print(age(1944))

81

In [13]:
#Q8-Write a class named arithmetic with method for calculating addition, substraction, multiplication and division of two numbers.
class Arithmetic:
    def add(self, a, b):
        return a + b

    def subtract(self, a, b):
        return a - b

    def multiply(self, a, b):
        return a * b

    def divide(self, a, b):
        if b != 0:
            return a / b
        else:
            return "Cannot divide by zero"

arithmetic = Arithmetic()
print(arithmetic.add(10, 5))
print(arithmetic.subtract(10, 5))
print(arithmetic.multiply(10, 5))
print(arithmetic.divide(10, 5))

15
5
50
2.0

In [14]:
#Q9- write a for loop or method  to calculate summation of first n numbers
#i.e if n=3, it will print or return 6 (1+2+3)
def summation(n):
    total = 0
    for i in range(1, n + 1):
        total += i
    return total

n = 3
print(summation(n))

6

In [15]:
#Q10-Generate 10 numbers between 0 and 1 and add into list. Print first three elements of that list.
import random
random_numbers = [random.random() for _ in range(10)]
print(random_numbers[:3])

[0.4293739949720262, 0.526166390642433, 0.3694554799319031]

In [16]:
#Q11-For a given number n, print numbers divisible by 3 up to that number(n included)
#Example: if n=15, print 3,6,9,12,15
#Hint you can use modulus statement (if (i%3==0))
n=15
for i in range(3, n + 1, 3):
    print(i, end=' ')

3 6 9 12 15